{% extends 'managementLayout.twig' %}

{% block title %}
    Бронь
{% endblock %}

{% block content %}
    <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.phone }}</td>
        <td>{{ reservation.table_id }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.convertedTime }}</td>
        <td>{{ reservation.duration }}</td>
        <td><a href="/accept/{{ reservation.id }}">Подтвердить</a></td>
        <td><a href="/archive/{{ reservation.id }}">Отклонить</a></td>
    </tr>
{% endblock %}