{% extends 'managementLayout.twig' %}

{% block title %}
    Расписание
{% endblock %}

{% block content %}
<form action="/setSchedule" method="post">
    <table>
        <tr>
            <th>День</th>
            <th>с</th>
            <th>по</th>
        </tr>
        {% for scheduleDay in schedule %}
        <tr>
            <td>{{ scheduleDay.name }}</td>

            <td>
                <input 
                type="time" 
                step="1800" pattern="[0-2][0-9]:[0,3]0"
                name="openAt{{ scheduleDay.id }}"
                value="{{ scheduleDay.convertedTime.from }}" />
            </td>

            <td>
                <input type="time" 
                step="1800" pattern="[0-2][0-9]:[0,3]0"
                name="duration{{ scheduleDay.id }}"
                value="{{ scheduleDay.convertedTime.until }}" />
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" value="сохранить" />
</form>
{% endblock %}
