{% extends 'managementLayout.twig' %}

{% block title %}
    Расписание
{% endblock %}

{% block content %}
<form action="/addOddScheduleDay" method="post">
    <table>
        <tr>
            <th>День</th>
            <th>с</th>
            <th>по</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="date" 
                name="day" />
            </td>
            <td>
                <input type="time" 
                step="1800" pattern="[0-2][0-9]:[0,3]0" 
                name="openAt" />
            </td>
            <td>
                <input type="time" 
                step="1800" pattern="[0-2][0-9]:[0,3]0" 
                name="duration" />
            </td>
            
            <td><input type="submit" value="добавить" /></td>
        </tr>
    </table>
</form>

<hr>

<table>
    <tr>
        <th>Дата</th>
        <th>День недели</th>
        <th>с</th>
        <th>по</th>
    </tr>

    {% for scheduleDay in schedule %}
    <tr>
        <td>{{ scheduleDay.day }}</td>
        <td>{{ scheduleDay.name }}</td>
        <td>{{ scheduleDay.convertedTime.from }}</td>
        <td>{{ scheduleDay.convertedTime.until }}</td>

        <td><a href="/deleteOdd/{{ scheduleDay.day }}" class="deleteBtn">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
<script src="/src/views/js/manageOddSchedule.js" type="application/javascript"></script>
{% endblock %}
