{% extends 'userLayout.twig' %}

{% block title %}
    Е д а
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/src/views/css/reservation.css">
{% endblock %}

{% block content %}
    {% if errorMessage is defined %}
        <strong>{{ errorMessage|raw }}</strong>
    {% endif %}
    <form action="/reserve" method="post" autocomplete="off">
        <h1>Бронирование стола</h1>

        <h2>Контакты</h2>
        <input type="text" name="name" placeholder="Имя"
        id="name" 
        required
        {% if name is defined %}
            value="{{ name }}"
        {% endif %} />
        <input type="text" name="phone" id="phone" placeholder="Номер телефона" 
        required
        {% if phone is defined %}
            value="{{ phone }}"
        {% endif %} />

        <h2>Время брони</h2>
        <div>
            <input type="date" name="date" placeholder="Дата"
            id="dateInput"
            required
            {% if date is defined %}
                value="{{ date }}"
            {% endif %} />

            <input type="time" name="time"
            id="timeInput"
            required readonly 
            step="1800"
            pattern="[0-2][0-9]:[0,3]0" 
            {% if time is defined %}
                value="{{ time }}"
            {% endif %} />
        </div>
        
        <h2>Стол</h2>
        <div>
            <select id="tableInput" name="table_id" required>
                <option value="" disabled selected id="tablePlaceholder">Сначала выберите дату</option>
                {% for tId in tables %}
                <option value="{{ tId }}" disabled class="tableOption">Столик №{{ tId }}</option>
                {% endfor %}
            </select>
            <datalist id="tables">
            </datalist>
            <div style="display: inline;">
            <input type="range" name="duration"
            id="durationInput"
            required disabled
            min="1" max="4" step="1" value="1" />
            <a id="durationLabel">полчаса</a>
            </div>
        </div>

        <input type="submit" value="забронировать" />
        <div id="check">
            <button type="button" id="checkBtn" disabled><code id="checkBtnLbl">
                Выберите дату и стол</code>
                <i class="material-icons" id="checkIcon">refresh</i>
            </button>
        </div>
    </form>
{% endblock %}

{% block rightFloat %}
    <div id="possibleTime"></div>
{% endblock %}

{% block scripts %}
    <script src="/src/views/js/reservation.js" type="application/javascript"></script>
{% endblock %}